/*------CSS VARIABLES------*/
:root {
	--light-grey: #d3d3d3;
	--dark-grey: #4b4a4a;
	--link-color: #948080;
	--link-color-hover: #534747;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

header {
  height: 100vh;
  background: lightblue;
  background-image: url("../img/yoga.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  margin-top: -50px;
  padding-bottom: 0;
  max-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 3rem;
}

.center-text {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.main-title,
.sub-title {
	display: block;
}


.main-title h1 {
  text-align: center;
  color: white;
  font-size: 600%;
  padding-top: 7.5%;
}
#header hr {
  width: 40%;
}
.sub-title h2 {
  color: white;
  text-align: center;
  font-size: 250%;
  padding-top: 1.5%;
}

/*------HERO------*/

.hero {
  	max-height: 100%;

	text-align: center;
}

.hero h1 .main-title {
	font-size: 4rem;
	font-weight: 300;
	margin-bottom: .5rem;
}

.hero h1 .subtitle {
	font-weight: 300;
	letter-spacing: .15rem;
}

.more-info{
	height: 100vh;
	background: #3D9970;
	color: black;
}

.more-info h2 {
	margin-bottom: .8rem;
	font-size: 1.8rem;
	font-weight: 300;
}


.more-info ol {
	line-height: 1.5;
	font-size: 1.2rem;
	letter-spacing: 1px;
	padding-left: 1rem;
}



.tribute-info{
  background-color: lightblue;
	height: 100vh;
	text-align: center;
	font-size: 2rem;
}

.tribute-info li {
	font-size: 1.1rem;
	line-height: 1.3;
	margin-bottom: 1rem;
	text-align: justify;
}

.tribute-info li:first-child {
	font-size: 1.2rem;
	font-weight: bold;
	list-style: none;
	margin-bottom: 1.3rem;
}

.whats-yoga {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3rem;
}

.final-thoughts {
	margin-top: 5rem;
	height: 100vh;
	text-align: center;
	font-size: 2rem;
}



footer {
	padding: 5px 0;
	background: var(--dark-grey);
	color: var(--light-grey);
	text-align: center;
}

footer a:hover {
	color: rgb(240, 98, 98);
}



@media screen and (max-width: 450px) {

img {
  width: 100%;
}


	.container {
		padding: 0 1.5rem;
	}

	.hero h1 .main-title {
		font-size: 3rem;
	}


  .tribute-info{
    height: 65rem;
  }


.whats-yoga li {
		text-align: left;
	}

	.whats-yoga li:first-child {
		font-size: 2rem;
	}

	.whats-yoga {
		grid-template-columns: 100%;
		grid-column-gap: 0;
	}

	.whats-yoga ul:first-child {
		margin-bottom: 2rem;
	}

  .more-info{
    height: 55rem;
  }


}

@media screen and (max-width: 760px) {

  .img{
    width: 70%;
  }
  .image2 {
    width: 80%;
  }

}

